html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
  line-height: normal;
}

a {
  text-decoration: none;
  color: white;
}

.router-link-exact-active {
  border-bottom: white solid 5px;
}
