@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}


@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.menu {
  color: white;
  text-decoration: none;
  position: fixed;
  top: 5%;
  right: 2%;
  font-size: 2rem;
  @include for-phone-only {
    font-size: 6.5vw;
  }
  color: white;
  font-weight: bolder;
  cursor: pointer;
  z-index: 99;

  :before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease-in-out 0s;
  }

  :hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  :hover {
    color: white;
  }
}

.menu_is_shown {
  letter-spacing: 1.2px;
}

.MenuOpen {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  @include for-phone-only {
    flex-direction: column;
  }
  justify-content: space-around;
  align-content: center;
  font-size: 5vw;
  overflow: hidden;

  &.is-closed {
    pointer-events: none;
  }

  p {
    cursor: pointer;
    top: 50%;
    position: relative;
    left: 10%;
    color: white;
  }

  .CasesScreen {
    height: 100vh;
    width: 33.3333vw;
    background-color: #222224;
    border-bottom: white;
  }

  .ContactScreen {
    height: 100vh;
    background-color: #171719;
    width: 33.3333vw;
  }

  .AboutScreen {
    height: 100vh;
    width: 33.3333vw;
    background-color: #000000;
  }
}

@keyframes scaleIn {
  0% {
    transform-origin: center left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: center left;
    transform: scaleX(1);
  }
}

@keyframes scaleOut {
  0% {
    transform-origin: center right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: center right;
    transform: scaleX(0);
  }
}

.slideSide-enter-active {
  animation: scaleIn 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.slideSide-leave-active {
  animation: scaleOut 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu_transition-leave-active {
  animation: moveOutDown 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes moveOutDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
