.images {
  height: 100%;
  width: 31%;
  display: inline-block;

  #items {
    overflow: hidden;
    height: 100%;
  }

  .casetext {
    position: relative;
    width: 75%;
    left: 3%;
    top: 67%;
    white-space: initial;
    text-align: left;
    color: white;
    max-height: 300px;
    margin: 0;
    transition: 1s;
    cursor: pointer;
    .case {
      font-size: 55px;
      font-weight: bolder;
      padding-bottom: 20px;
    }
    .hovertext {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    .brand {
      font-size: 20px;
    }
  }
}

.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.slide-enter-to,
.slide-leave {
  max-height: 311px;
  opacity: 1;
}
.slide-enter,
.slide-leave-to {
  max-height: 0;
  opacity: 0;
}

.Cslide-enter-active {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.Cslide-leave-active {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
