.logo {
  font-family: "Poppins", sans-serif;
  font-size: 0.65rem;
  position: fixed;
  top: 50px;
  left: 30px;
  line-height: 22px;
  letter-spacing: -1.5px;
  .logo-link {
    color: black;
  }
}
